---
export interface Props {
  title?: string;
}

const { title } = Astro.props as Props;
---
{title && (
  <h1 class="font-display text-3xl tracking-tight text-slate-900 dark:text-white">
    {title}
  </h1>
)}
