---
import Article from './Article.astro'
import NextPage from './NextPage.astro';
import PreviousPage from './PreviousPage.astro';
import TableOfContents from './TableOfContents.astro';
import Navigation from './Navigation.astro';
import type AppContext from '~/lib/app_context';

export interface Props {
  title?: string;
  headings: any[];
  navigation: any;
  context: AppContext;
}

const { title, headings, navigation, context } = Astro.props as Props;

---
<div class="relative mx-auto flex max-w-8xl justify-center sm:px-2 lg:px-8 xl:px-12">
  <div class="hidden lg:relative lg:block lg:flex-none">
    <Navigation navigation={navigation} />
  </div>
  <div class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16">
    <!-- <code>
      <pre>{JSON.stringify(context, null, 2)}</pre>
    </code> -->
    <Article title={title}>
      <slot />
    </Article>
    <dl class="mt-12 flex border-t border-slate-200 pt-6 dark:border-slate-800">
      <PreviousPage />
      <NextPage />
    </dl>
  </div>
  <div class="hidden xl:sticky xl:top-[4.5rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.5rem)] xl:flex-none xl:overflow-y-auto xl:py-16 xl:pr-6">
    <TableOfContents title='On this page' headings={headings}/>
  </div>
</div>
