---
---
<div class="ml-auto text-right">
  <dt class="font-display text-sm font-medium text-slate-900 dark:text-white">
    Next
  </dt>
  <dd class="mt-1">
    <a href='nextPage.href' class="text-base font-semibold text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300">
      nextPage.title <span aria-hidden="true">&rarr;</span>
    </a>
  </dd>
</div>