---
import ThemeIconDark from './ThemeIconDark.astro';
import ThemeIconLight from './ThemeIconLight.astro';
import ThemeIconSystem from './ThemeIconSystem.astro';

const { ...props } = Astro.props;
---
<button class="flex h-6 w-6 items-center justify-center rounded-lg shadow-md shadow-black/5 ring-1 ring-black/5 dark:bg-slate-700 dark:ring-inset dark:ring-white/5" id="headlessui-listbox-button-:Raccm:" type="button" aria-haspopup="true" aria-expanded="false" data-headlessui-state="" aria-labelledby="headlessui-listbox-label-:R6ccm: headlessui-listbox-button-:Raccm:" aria-label="System">
</button>
